@import url(./assets/css/variables.css);

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

/* Container */

.container {
  padding: 0 400px;
}

.inner {
  padding-top: var(--inner-padding);
}

/*  Forms */
.fmt-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.fmt-form label {
  display: block;
  margin-top: 10px;
}
/* .reg-btn {
  margin: 10px 0px 0px 100px;

} */